.background-Image-custom {
  position: relative;
  overflow: hidden;
}

.background-Image-custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../kepek/HomePageBackGround.png');
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: -1;
  opacity: 0.7;
  
}